
.tag{
    background-color: #FF6060;
    width: 60px;
    height: 10px;
    border-radius: 8px;
    color: white;
    padding: 3px;

    font-size: 10px;
    margin-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    
}

.tag-div ul{
    display: flex;
}